/.idea
/global_config.py
/db.sqlite3
/venv
/static
/arhisite/settings.py
/bot_handler/configurations/*
!/bot_handler/configurations/ExampleBot
/bot_handler/modules/burger_king/
/bot_handler/modules/request_uses/_sberbank_auth_data.py
/bot_handler/modules/joy/_config.py
/bot_handler/modules/tools/_config.py
/scripts/hh/_config.py
/scripts/ProxyFinder/
/scripts/vbross/
/scripts/vk_coin/
/scripts/bombot/
/bot_handler/cmds/
